* {
    margin: 0;
    padding: 0;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background: rgba(36, 53, 161, 0.88);
    border-radius: 20px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;

}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

#header {
    background: rgba(36, 53, 161, 0.88);
    position: sticky;
    top: 0;
    padding: 25px 0;
    backdrop-filter: blur(4px);
    z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav select {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: transparent;
    outline: none;
    margin: 30px;

}

.header-nav select option {
    background: #2435A1;
}

.header-nav a {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.header a {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

#footer {
    background: url("img/footer-img.png") no-repeat top/cover;
    min-height: 30vh;
}

.footer {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-logo a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-top: 20px;
}

.footer a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.footer-link h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.footer-link a {
    font-size: 28px;
    margin-right: 20px;

}

.liner {
    width: 100%;
    height: 3px;
    background: white;
    margin: 40px 0;
}

.footer-bottom a {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: right;
}

.footer-bottom h1 {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: right;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer-motion {
    display: flex;
    align-items: center;
}

#table {
    padding: 400px 0;
    margin-left: 100px;
}

.table {
    position: relative;
}

.table-one hr {
    width: 1101px;
    height: 153px;
    left: 35px;
    top: 263px;
    border: 3px solid #000000;

}

.table-two hr {
    width: 1101px;
    height: 84px;
    left: 35px;
    top: 496px;
    border: 3px solid #000000;

}

.table-first {
    position: absolute;
    top: 0px;
}

.table-first hr {
    margin-left: 270px;
    width: 0px;
    height: 608px;
    left: 318px;
    top: 264px;
    border: 1px solid #000000;
}

.table-first-tit {
    top: 0px;
}

.table-first-tit {
    position: absolute;
    top: 0px;
}

.table-first-tit hr {
    margin-left: 400px;
    width: 0px;
    height: 608px;
    left: 407px;
    top: 264px;

    border: 1px solid #000000;
}

.table-first-block {
    position: absolute;
    top: 0;
}

.table-first-block hr {
    margin-left: 520px;
    width: 0px;
    height: 608px;
    left: 496px;
    top: 264px;

    border: 1px solid #000000;
}

.table-first-img {

    position: absolute;
    top: 0;
}

.table-first-img hr {
    margin-left: 640px;
    width: 0px;
    height: 608px;
    left: 585px;
    top: 264px;

    border: 1px solid #000000;
}

.table-first-photo {
    position: absolute;

    top: 0;
}

.table-first-photo hr {
    margin-left: 770px;
    width: 0px;
    height: 608px;

    border: 1px solid #000000;
}

.table-first-tittle {
    position: absolute;
    top: 0;
}

.table-first-tittle hr {
    margin-left: 900px;
    width: 0px;
    height: 608px;

    border: 1px solid #000000;
}

.table-first-tittle-it {
    position: absolute;
    top: 0;
}

.table-first-tittle-it hr {
    margin-left: 1000px;
    width: 0px;
    height: 608px;

    border: 1px solid #000000;
}

.table-car {
    position: relative;
    box-sizing: border-box;
    top: 0px;
}

.table-car hr {
    position: absolute;

    top: -300px;
    width: 1174px;
    height: 1100px;
    left: 40px;
    overflow-y: scroll;
    border: 3px solid #000000;

}

.container p {

    left: 526px;
    top: 91px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
